/*
================================================================================================
CSS-RESET
================================================================================================
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,svg{
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


 /*
  ---------------------------------------------------------------------------------
  ROOT
  ----------------------------------------------------------------------------------
  */


:root{

  /*
  ------------------------------------------
  COLORS
  ------------------------------------------
  */


  /*Primitive Colors*/

  --neutral-50: hsl(0,0%,93%);;
  --neutral-100: hsl(0,0%,85%);
  --neutral-200: hsl(0,0%,80%);
  --neutral-600: hsl(0,0%,36%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --green-200: hsl(87,96%,80%);
  --green-600: hsl(75,55%,37%);
  --green-700: hsl(83,79%,32%);
  --green-900: hsl(72,79%,15%);

  /*Text Colors*/

  --text-primary: var(--black);
  --text-secondary:var(--neutral-600);
  --text-subheading:var(--neutral-200);
  --text-heading:var(--green-900);

  --text-white: var(--white);

  /*Background colors*/

  --background-primary:var(--white);
  --background-secondary: var(--green-900);
  --background-territory:var(--neutral-50);

  /*Accent colors*/

  --accent-primary:var(--green-200);
  --accent-secondary:var(--green-600);

  --accent-primary-hover:var(--green-600);
  --accent-secondary-hover:var(--green-200);


   /*
  ------------------------------------------
  Typography
  ------------------------------------------
  */

  --ff-body: "Manrope", "sans-serif";
  --ff-heading: "Manrope", sans-serif;

  /*Primitive*/

  --fs-300: 0.7rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-550: 1.375rem;
  --fs-700: 1.75rem;


  --text-heading-primary: var(--fs-700);
  --text-heading-secondary:var(--fs-700);
  --text-heading-teritary:var(--fs-550);
  --text-body:var(--fs-400);
  --text-captions:var(--fs-300);

  /*
  ------------------------------------------
  Spacing
  ------------------------------------------
  */


  --size-100: 0.5rem;
  --size-200: 1rem;
  --size-300: 1.25rem;
  --size-400: 1.5rem;
  --size-500: 1.75rem;
  --size-600: 2rem;
  --size-650: 2.5rem;
  --size-700: 3rem;
  --size-800: 5rem;
  --size-900: 6.25rem;

  }

  /*Tablet font sizes*/

  @media (min-width:50em){
    :root{
      --fs-500: 1.75rem;
      --fs-700: 2.25rem;
    }
    
  }

  /*Desktop font sizes*/

  @media (min-width:80em){
    :root{
      --fs-500: 2rem;
      --fs-700: 2.625rem;
    }

  }

   /*
  ------------------------------------------
  General Styling
  ------------------------------------------
  */
  a{
    text-decoration: none;
    color: inherit;
  }

  h1{
    font-size: var(--text-heading-primary);
  }

  h2{
    font-size: var(--text-heading-secondary);
    color: var(--text-heading-secondary);
  }

  h3{
    font-size: var(--text-heading-teritary);
  }


  body{
    font-size: var(--text-body);

  }
   .grid-wrapper-left{
    background-color: var(--background-secondary);
    padding-inline: var(--size-400);
  }

  @media (min-width:80em){
    .grid-wrapper-left{
        padding-inline: var(--size-700);
    }

  }


  @media (min-width:80em){
     .grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .grid-wrapper-right{
    padding-inline: var(--size-650);
  }

  }

  html, body {
  height: 100%;
  margin: 0;
}

  /*
  ------------------------------------------
  Buttons
  ------------------------------------------
  */



  .offering-buttons{
    display: flex;
    gap: var(--size-100);
  }

  .offering-buttons li{
    display: flex;
    flex: 1

  }

  .offering-button{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--accent-secondary);
  padding-block: var(--size-200);
  color: var(--black);
  text-align: center;
  border-radius: var(--size-100);
  justify-content: center;
  }


  @media(min-width: 80em){
    .offering-buttons li{
      max-width: 7.5rem;
    }
  }

  .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-100);
}



  /*
  ------------------------------------------
  cta
  ------------------------------------------
  */

  /*Background-img*/

  .cta{
    background-image: url(images/main/download-phone.jpg);
    background-position: center;
    background-size: cover;
    padding-inline: var(--size-650);
    padding-block-start: var(--size-800);
    padding-block-end: var(--size-600);
    height: 350px;
  }





  /*
  ------------------------------------------
  Utility Classes
  ------------------------------------------
  */
  
  .background-secondary{
    background-color: var(--background-secondary);
  }

  .text-white{
    color: var(--text-white);
  }

  .text-primary{
    color: var(--text-primary);
  }

  .accent-primary-text{
    color: var(--accent-primary);
  }

  .accent-primary-background{
    background-color: var(--accent-primary);
  }

  .text-secondary{
    color: var(--text-secondary);
  }

  .text-subheading{
    color: var(--text-subheading);
  }

  .flex{
    display: flex;
  }

  .gap-100{
    gap: var(--size-100);
  }

   .gap-200{
    gap: var(--size-200);
  }

   .gap-300{
    gap: var(--size-300);
  }

   .gap-400{
    gap: var(--size-400);
  }

   .gap-500{
    gap: var(--size-500);
  }



  